body {
  background-color: #defbfc;
}
.wrapper-app {
  max-width: 600px;
  margin: 20px auto;
}
.wrapper-border {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px #a8f2f5;
}

h1 {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin-top: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  margin-top: 0;
  padding: 0;
}

.right-side {
  padding-left: 60px;
}

#temperature {
  padding-left: 15px;
  font-weight: 500;
  font-size: 50px;
}

.unit {
  position: relative;
  top: -23px;
}

a {
  text-decoration: none;
}

.forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-min {
  font-size: 14px;
  opacity: 0.5;
}

.forecast-max {
  font-size: 13px;
}
